@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body, html{
    padding: 0px;
    margin: 0px;
    
    font-family: 'Montserrat', sans-serif;
}

.wrapper{

    width: 100vw;
    height: 100vh;
    padding: 20px;
    text-align: center;
}


button {
    background-color: #1B2A4A;
    color: #fff;

    font-size: 16px;

    border-radius: 5px;
    outline: 0px;
    border: 0px;

    width: 120px;
    height: 40px;

    margin-bottom: 20px;
    cursor: pointer;
}

table {
    max-width: 900px;
    margin: 0 auto;

    border: 1px solid;
}

table td{
    border:1px solid;
}